.mainBar {
  position: relative;
  width: 100%;
  height: auto;
  max-height: auto;
  overflow: hidden;
}

.stakingInformation,
.stakingDetails,
.stakingData {
  display: flex;
}

.stakingInformation {
  flex-direction: column;
  justify-content: end;
  text-align: left;
  padding: 94px 120px 48px;
}
.pageName {
  max-width: 555px;
  height: auto;
  color: var(--color-font);
  font-family: var(--title-font);
  font-size: var(--title-web-font-size);
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  margin-bottom: 16px;
}

.stakingDetails {
  max-width: 833px;
  flex-wrap: nowrap; 
  gap: 40px;
}

.stakingData {
  /* padding-right: 40px; */
  gap: 0 12px;
  flex-direction: row;
}

.value,
.token,
.name {
  /* margin-right: 8px; */
 gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: end;
  color: var(--color-font);
  font-family: var(--body-font);
}

.token,
.name {
  font-size: var(--nameStat--web-tablet-font-size);
  font-weight: var(--font-weight-regular);
  line-height: 30px;
}

.value {
  font-size: var(--value-web-font-size);
  font-weight: var(--font-weight-bold);
}

.token {
  text-transform: uppercase;
}

.name {
  letter-spacing: -0.32px;
  width: max-content;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
}

.balance {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media (max-width: 820px) {
  .pageName {
    font-size: var(--title-tablet-font-size);
  }
  .stakingInformation {
    padding: 102px 48px 33px;
  }
  .stakingDetails {
    flex-wrap: wrap; 
    gap: 24px;
  }
  .stakingData {
    /* padding-right: 24px; */
    flex-direction: column;
  }
  .token,
  .name {
    line-height: 28px;
  }
  .value {
    font-size: var(--value-tablet-font-size);
  }
}

@media (max-width: 480px) {
  .stakingInformation {
    padding: 113px 24px 24px;
  }
  .pageName {
    max-width: 284px;
    font-size: var(--title-mobile-font-size);
    line-height: 120.5%;
  }
  .stakingDetails {
    flex-wrap: nowrap; 
    gap: 20px;
  }
  .stakingData {
    /* padding-right: 20px; */
    flex-direction: column;
  }
  .token,
  .name {
    font-size: var(--nameStat-mobile-font-size);
    flex: 1;
    line-height: 18px;
  }
  
  .value {
    font-size: var(--value-mobile-font-size);
  }
  .balance {
    gap: 4px;
  }
}
