@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap");

/* font-family: 'Kanit', sans-serif; */

:root {
  /* font-family */
  --kanit-font-family: "Kanit", sans-serif;
  --robotoMono-font-family: "Roboto Mono", monospace;

  /* font-weight */
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* font color */
  --color-font: #ffffff;

  /* fonts style and size in title */
  --title-font: var(--kanit-font-family);
  --title-web-font-size: 48px;
  --title-tablet-font-size: 40px;
  --title-mobile-font-size: 28px;

  /* fonts style and size in subTitle */
  --subTitle-font: var(--kanit-font-family);
  --subTitle-web-font-size: 24px;
  --subTitle-tablet-font-size: 20px;
  --subTitle-mobile-font-size: 18px;

  /* information about staking */
  --body-font: var(--robotoMono-font-family);
  --value-web-font-size: 36px;
  --value-tablet-font-size: 28px;
  --value-mobile-font-size: 18px;

  --nameStat-web-tablet-font-size: 16px;
  --nameStat-mobile-font-size: 12px;

  /* fonts style and size in body */
  --body-font: var(--robotoMono-font-family);
  --body-web-tablet-font-size: 16px;
  --body-mobile-font-size: 14px;

  /* fonts style components */
  --button-web-tablet-font-size: 16px;
  --button-mobile-font-size: 14px;
  --button-font: var(--robotoMono-font-family);
}